---
title: AFC
---
extends layouts/_layout
block content
  .content
    //BEGIN Главный экран
    include AFC/head
    //END Главный экран

    //BEGIN  consist
    include AFC/consist
    //END consist

    //BEGIN  applying
    include AFC/applying
    //END applying

    //BEGIN  use
    include AFC/use
    //END use

    //BEGIN  order
    include AFC/order
    //END order





