section.applying
	.container
		.applying__parallax__content
			.applying__parallax#applying-1(data-invert-x="false" data-invert-y="false")
				div(data-depth="0.4")
					img(src="img/afc-landing/parallax/applying-1.png", alt="")
			.applying__parallax#applying-2(data-invert-x="false" data-invert-y="false" relativeInput="true")
				div(data-depth="0.2")
					img(src="img/afc-landing/parallax/applying-2.png", alt="")
			.applying__parallax#applying-3(data-invert-x="false" data-invert-y="false")
				div(data-depth="0.6")
					img(src="img/afc-landing/parallax/applying-3.png", alt="")
		.applying__top
			.row.middle-md.center-md
				.col-md-6.start-md
					p #AFC_ ДЛЯЧЕГО
				.col-md-3.start-md.col-xs-12
					.applying__swiper
						.swiper-container.applying-slider-top
							.swiper-wrapper
								.swiper-slide
									ul
										li Восстанавливает иммунитет, нервную систему, защитные силы при переутомлении
										li Способствует уменьшению аллергии
										li Нормализует сон 
										li Повышает физическую и умственную работоспособность
										li Улучшает память, внимательность, обмен веществ
										li Замедляет процессы старения 
								.swiper-slide
									ul
										li Восстановление после травм и операций
										li Улучшает состояние сосудов
										li Снижает риск возникновения сердечно-сосудистых и онкологических заболеваний
										li Минимизирует последствия стресса
										li Снимает отечность,<br>«синяки под глазами»
										li Восстанавливает биоритмы<br>(бодрость по утрам и в течении дня)
						.swiper-button-next.next
							span
								//- +icon('review-arrow')
								i.fa.fa-angle-right
		.applying__bottom
			.row.center-md
				.col-md-3.col-md-offset-2.start-md.col-xs-12
					.applying__swiper
						.swiper-container.applying-slider-bottom
							.swiper-wrapper
								.swiper-slide
									ul
										li Вы ведете активный<br> образ жизни (спорт/фитнес)
										li У вас интенсивный график с частыми разъездами и сменой часовых поясов
										li Ваша работа связана со стрессом
										li Регулярное недосыпание превратилось в норму
								.swiper-slide
									ul
										li Вы часто простужаетесь и болеете
										li Подготовка к экзаменам
										li Вы занимаетесь любым спортом на любом уровне: фитнес, триатлоном <span>(бег, плавание, велосипед), кроссфит, пауэрлифтинг, тяжелая атлетика, единоборства лыжи, сноуборд, ролики</span> и другие.
						.swiper-button-next#next
							span
								//- +icon('review-arrow')
								i.fa.fa-angle-left
				.col-md-6.start-md.col-xs-12.first-xs.last-sm.start-sm.end-xs
					p #AFC_ ДЛЯКОГО