section.use
	.container
		.row
			.col-xs-12.center-xs
				h2 Способ применения AFC
					a(href="#").start-md Смотреть<br>видео-инструкцию
						span
							img(src="img/play.svg", alt="")
		.use__pagination
			span.use__pagination__block.use__pagination--1.active 1
			span.use__pagination__block.use__pagination--2 2
			span.use__pagination__block.use__pagination--3 3
		.use-swiper.swiper-container
			p.up Взрослым:
			.swiper-wrapper
				.swiper-slide
					.use__block.use__block--1
						.use__block__foto
							img(src="img/afc-landing/use-1.png", alt="")
							span 1
						p Открыть флакон 35 г<br> (1 порцию концетрата)
				.swiper-slide
					.use__block
						.use__block__foto.use__block__foto--span
							img(src="img/afc-landing/use-2.png", alt="")
							span 2
						p Добавить питьевую воду до объема 100 мл и хорошо перемешать
				.swiper-slide
					.use__block
						.use__block__foto
							img(src="img/afc-landing/use-3.png", alt="")
							span 3
						p Готово к применению
		a(href="#").mobile Смотреть<br>видео-инструкцию
			span
				img(src="img/play.svg", alt="")
		.row
			.col-xs-12
				.use__advice
					p <b>Рекомендуется:</b> принимать утром натощак. При повышенных умственных и физических нагрузках прием можно увеличить до двух порций.
			.col-xs-12
				.use__recommendation
					.use__recommendation__block
						p 14-18 лет:
						p 1 флакон за два приема в первой половине дня
					.use__recommendation__block
						p 10-14 лет:
						p 1 ложка столовая 1 раз в день, при интенсивных нагрузках до 2 раз в день в первой половине дня.
					.use__recommendation__block
						p 7-10 лет:
						p ½ чайной ложки 1-2 раза в первой половине дня
					.use__recommendation__block.use__recommendation__block--last
						p Противопоказания:
						p Индивидуальная непереносимость компонентов продукта.
				.use__recommendation__mobile
					h4 Способ применения для детей.
					span Выберите возраст ребенка:
					.tabs
						ul.tabs__caption
							li.active 14 - 18 лет:
							li 10 - 14 лет:
							li 7 - 10 лет:
						.tabs__content.active
							p 1 флакон за два приема в первой половине дня
						.tabs__content
							p 1 ложка столовая 1 раз в день, при интенсивных нагрузках до 2 раз в день в первой половине дня.
						.tabs__content
							p ½ чайной ложки 1-2 раза в первой половине дня
					.use__recommendation__mobile--last
						p Противопоказания:
						p Индивидуальная непереносимость компонентов продукта.







